@media screen and (min-width: 769px) {
.game-container{
    width: 20%;
    height: 420px;
    background-color: #ffffff;
    position: absolute;
    top: 200px;
    left: 20%;
    display: grid;
    grid-template-rows: 140px 140px 140px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
}

@media screen and (max-width: 768px){
    .game-container{
        display: grid;
        position: absolute;
        top: 300px;
        left: 10%;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 100px 100px 100px;
    }
}
.game-body{
    background-color: aqua;
    height: 100vh;
    position: relative;
}

.game-container div{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #d5853a;
}

.game-container div:hover{
    background-color: #fbb472;
    border: 1px solid #f00;
    cursor: pointer;
}
.game-header{
    font-size: 32px;
    padding-left: 20%;
}

.game-body h1{
    padding-left: 20%;
}

.btn-primary{
    background-color: blue;
    color: #fff;
    border: none;
    margin-left: 30px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}

/* classes for setting font-size */
.fs12{ font-size: 12px}.fs16{ font-size: 16px } .fs24{ font-size: 24px} .fs32{ font-size: 32px;}

/* class for font-weight */

.fw700{ font-weight: 700;} .fw900{ font-weight: 900;}